{% extends "layout.html" %}

{% block title %}
    Confirmation
{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row">
            <div class="col-lg-6">
                <figure>
                    <img class="rounded float-start" src="/static/realestate.jpg">
                </figure>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>Have access to Real time data for your investment decisions</li>
                    <li>Choose between free and premium options</li>
                    <li>Access to Data from any where in the World</li>
                </ul>
            </div>
    </div>
</div>




{% endblock %}